<!DOCTYPE html>
<html ng-app="beeApp">
<head>
<meta charset="utf-8">
<title>Beeminder Graph Editor</title>
<meta name="description"        content="Make arbitrary changes to your bright red line, subject to the akrasia horizon.">
<meta property="og:description" content="Make arbitrary changes to your bright red line, subject to the akrasia horizon.">
<meta property="og:title" content="Beeminder Graph Editor">
<meta property="og:site_name" content="Beeminder">
<meta property="og:type" content="website">
<link rel="canonical"       href="https://graph.beeminder.com/">
<meta property="og:url"  content="https://graph.beeminder.com/">
<meta property="og:image" content="https://graph.beeminder.com/lib/favicons/beebrain-screenshot.png">
<meta property="og:image:alt" content="Graph editor screenshot">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@bmndr">
<meta name="theme-color" content="#FFCB06">
<link rel="icon" type="image/png" href="/lib/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/lib/favicons/favicon.svg" />
<link rel="shortcut icon" href="/lib/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/lib/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Beeminder Graph Editor" />
<link rel="manifest" href="/lib/favicons/site.webmanifest" />
<script type="application/ld+json"> {
"@context": "https://schema.org",
"@type": "WebSite",
"name": "Beeminder Graph Editor",
"alternateName": ["Beebrain"],
"url": "https://graph.beeminder.com/",
"image": "https://graph.beeminder.com/lib/favicons/beebrain-screenshot.png" }
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity=
       "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<link rel="stylesheet" href="/lib/css/editorpage.css">
<!-- optional preconnect / prefetch go here, eg to load Google fonts faster -->
</head>
<body>

<header>
  <h1 style="text-align: center;">
    Beeminder Graph Editor
  </h1>
  <div style="text-align: center; font-size:1rem; color:#999;">
    [v2025.07.08-c]
  </div>
</header>

<div style="margin-bottom: 40px;">&nbsp;</div>
<main>
  <!-- Initial welcome screen -->
<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" 
      ng-if="currentStage == 'initialScreen'" style="text-align: center;">
  <a class="btn btn-primary" href=
     "https://www.beeminder.com/apps/authorize?client_id=<%= 
       BEEMINDER_CLIENT_ID 
     %>&redirect_uri=<%= 
       AUTH_REDIRECT_URI 
     %>&response_type=token">
  Log in with your Beeminder account
  </a>
</div>

<div style="margin-bottom: 60px;">&nbsp;</div>

<center>
<img 
title="Screenshot of the graph editor in action"
  alt="Screenshot of the graph editor in action"
src="/lib/favicons/beebrain-screenshot.png"/>
</center>

</main>

</body>
</html>
