<!DOCTYPE html>
<html>
<head>
  <link id="favicon" rel="icon" href="/lib/favicons/bee-with-big-brain.png" 
        type="image/png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=650, initial-scale=1">
  <link rel="stylesheet" href="../src/pikaday.css">
  <link rel="stylesheet" href="../src/jsbrain.css">
  <link rel="stylesheet" href="../src/tom-select.css">
  <link rel="stylesheet" href="../src/newdesign.css">
  <script src = "https://d3js.org/d3.v7.js"></script>
  <script src = "../src/moment.js"></script>
  <script src = "../src/moment-timezone.js"></script>
  <script src = "../src/pikaday.js"></script>
  <script src = "../src/polyfit.js"></script>
  <script src = "../src/butil.js"></script>
  <script src = "../src/broad.js"></script>
  <script src = "../src/beebrain.js"></script>
  <script src = "../src/bgraph.js"></script>
  <script src = "../src/bsandbox.js"></script>
  <script src = "../src/tom-select.js"></script>
  <script>
    const username = <%- JSON.stringify(user ? user.username : null) %>;
  </script>
</head>

<body>
  <div id="header">
    <a href="https://www.beeminder.com" target="_blank">
      <div class="logo"></div>
    </a>
  </div>
  <div style="box-shadow: 0 0 6px #ccc; padding:10px; ">
    Beeminder goal:
    <select id="roadselect" class="roadselect" onchange="eload=true;gload = true;loadGoals(this.value);">
      <option value="../automon/data/testroad0.bb">Test 0</option>
      <option value="../../privatesuite/data/afcuttin+gmailzero.bb">Test 1</option>
      <option value="../../privatesuite/data/b+coffee2.bb">Test 2</option>
      <option value="../automon/data/testroad2.bb">Test 3</option>
      <option value="../../privatesuite/data/bug-d-bump.bb">Test 4</option>
      <option value="../../privatesuite/data/bug-d-mass.bb">Test 5</option>
      <option value="../automon/data/testroad5.bb">Test 6</option>
      <option value="../../privatesuite/data/bugroad3.bb">Test 7</option>
      <option value="../../privatesuite/data/ybhp-weight-start.bb">Test 8</option>
    </select>
  </div>
  <!-- Tab links -->
  <div class="tab">
    <button id="graphtab" class="bmdrbtn tablinks active" onclick="openMainTab(event, 'graph');">Graph</button>
    <button id="editortab" class="bmdrbtn tablinks" onclick="openMainTab(event, 'editor')">Graph Editor</button>
    <button id="sandboxtab" class="bmdrbtn tablinks" onclick="openMainTab(event, 'sandbox')">Sandbox</button>
  </div>
  
<!-- Tab content -->
<div id="graph" class="tabcontent" style="display:block;">
  <div id="gsummary" class="summary"></div>
  <div class="graphcontainer">
    <div id="roadgraph"></div>
    <hr/>
    <div class="graphtools">
      <button class="bmdrbtn" id="zoomall" onclick="graph.zoomAll();">View All</button>
      <button class="bmdrbtn" id="zoomdflt" onclick="graph.zoomDefault();">Reset Zoom</button>
    </div>
    <hr/>
    <details style="margin:10px 0;">
      <summary style="cursor:pointer;padding:5px 0;">Experimental features</summary>
      <div class="graphtools">
        <button class="bmdrbtn" id="savesvgdl" onclick="graph.saveGraphDownload();">Download SVG</button>
        <button class="bmdrbtn" id="savesvgblob" onclick="graph.saveGraphBlob();">Preview SVG</button>
      </div>
    </details>

  </div>

  <div class="vtabcontainer">
    <div class="vtabtitle">Graph Tools</div>
    <div class="vtab">
      <button class="bmdrbtn gtablinks" onclick="openGraphTab(event, 'road')">Red Line</button><button class="bmdrbtn gtablinks" onclick="openGraphTab(event, 'stats')">Stats</button><button class="bmdrbtn gtablinks" onclick="openGraphTab(event, 'data')">Data</button><button class="bmdrbtn gtablinks active" onclick="openGraphTab(event, 'entry')">Entry</button> <!-- Warning, these elements should be on the same line to prevent inline spacing -->
    </div>
    <div id="entry" class="gtabcontent" style="display:block;">
      <div class="tooltitle">Enter new data</div>
      <div style="padding:10px 20px; box-shadow:0 0 6px #ccc;">
        Date:<br/>
        <input id="datadate" type="text" class="dateentry" contenteditable="true" placeholder="YYYY-MM-DD"></input><br/>
        Value:<br/>
        <input id="datavalue" type="number" class="valueentry" contenteditable="true"></input><br/>
        Comment:<br/>
        <input id="datacmt" type="text" class="cmtentry" contenteditable="true"></input><br/>
        <button class="bmdrbtn" id="dataadd" onclick="handleDataSubmit()">ADD PROGRESS</button>
      </div>
    </div>
    <div id="data" class="gtabcontent">
      <div class="tooltitle">View and edit past data</div>
      <div id="graphdata">
        <input class="data-range" type="range" step="0.5" value="5" min="1" max="10">
      </div>
    </div>
    <div id="stats" class="gtabcontent">
      <div class="tooltitle">Amounts Due By Day</div>
      <div style="display:table; border:1px solid #bbb" id="gdueby"></div>
      <div class="tooltitle">Goal Progress</div>
      <div id="gprogress"></div>
    </div>
    <div id="road" class="gtabcontent">
      <div class="tooltitle">Graph Matrix</div>
      <div id="graphroad"></div>
    </div>
  </div>
</div>

<div id="editor" class="tabcontent">
  <div id="esummary" class="summary"></div>
  <div class="graphcontainer">
    <div id="roadeditor"></div>
    <br/>
    <div class="graphtools">
      <button class="bmdrbtn" id="eundo" onclick="editor.undo();">Undo (0)</button>
      <button class="bmdrbtn" id="eredo" onclick="editor.redo();">Redo (0)</button>
      <button class="bmdrbtn" id="ereset" onclick="editor.undoAll();">Undo All</button>
      <input id="keepslopes" type="checkbox"
             onclick="editor.keepSlopes(this.checked)" checked>
      <label>Propagate changes forward</label>
    </div>
    <hr/>
    <div class="graphtools">
      <button class="bmdrbtn" id="zoomall" onclick="editor.zoomAll();">View All</button>
      <button class="bmdrbtn" id="zoomdflt" onclick="editor.zoomDefault();">Reset Zoom</button>
      <input id="showdata" type="checkbox" onclick="editor.showData(this.checked);" checked>
      <label>Show data</label>
    </div>
    <hr/>
    <div class="graphtools">
      <button class="bmdrbtn" id="submit" onclick="handleRoadSubmit();">Submit</button>
      <span id="submitmsg">This is where submit msg goes</span>
    </div>
    <hr/>
    <details style="margin:10px 0;">
      <summary style="cursor:pointer;padding:5px 0;">Experimental features</summary>
      <div class="graphtools">
        <button class="bmdrbtn" id="savesvgdl" onclick="editor.saveGraphDownload();">Download SVG</button>
        <button class="bmdrbtn" id="savesvgblob" onclick="editor.saveGraphBlob();">Preview SVG</button>
      </div>
      <div class="graphtools">
        <input id="showcontext" type="checkbox" onclick="editor.showContext(this.checked);" checked>
        <label for="showcontext">Include scrubber</label>
      </div>
    </details>

  </div>
  
  <div class="vtabcontainer">
    <div class="vtabtitle">Editor Tools</div>
    <div class="vtab">
      <button class="bmdrbtn etablinks active" onclick="openEditorTab(event, 'eroad')">Red Line</button><button class="bmdrbtn etablinks" onclick="openEditorTab(event, 'estats')">Stats</button><button class="bmdrbtn etablinks" onclick="openEditorTab(event, 'edata')">Data</button><button class="bmdrbtn etablinks" onclick="openEditorTab(event, 'eedit')">Dial</button> <!-- Warning, these elements should be on the same line to prevent inline spacing -->
    </div>
    <div id="eedit" class="etabcontent">
      <div class="tooltitle">Dial Graph</div>
      <div>
        Goal rate:<br/>
        <input type = "number" id="endslope" step="any" style="margin-bottom:10px;height:30px;width:10em;"><br/>
        <select id="slopetype" selected="604800" onchange="updateCommitFields(false)">
          <option value="86400">per day</option>
          <option value="604800">per week</option>
          <option value="2629800">per month</option>
          <option value="31557600">per year</option>
        </select>
        <button class="bmdrbtn" id="commit" onclick="commitTo(false)">UPDATE</button>
      </div>
      <div class="tooltitle">Ratchet</div>
      <div>
        Reduce safety buffer to:<br/>
        <input type="number" value="0" min="0" id="ratchetdays" style="margin-bottom:10px;height:30px;width:5em;"> days
        <button class="bmdrbtn" id="retroratchet" onclick="var val = document.getElementById('ratchetdays').value; if (!isNaN(val)) editor.retroRatchet(Number(val));">Ratchet</button>
      </div>
      <div class="tooltitle">Schedule Break</div>
      <div>
        Start date:<br/>
        <input type="text" id="breakstart" style="margin-bottom:10px;height:30px;width:10em;" placeholder="YYYY-MM-DD"><br/>
        Duration:<br/>
        <input type="number" value="1" min="1" id="breakdays" style="margin-bottom:10px;height:30px;width:5em;"> days<br/>
        <button class="bmdrbtn" id="insertbreak" onclick="scheduleBreak(true);">Insert</button>
        <button class="bmdrbtn" id="overwritebreak" onclick="scheduleBreak(false);">Overwrite</button>
      </div>
    </div>
    <div id="edata" class="etabcontent">
      <div class="tooltitle">View past data</div>
      <div id="editordata">
      </div>
    </div>
    <div id="estats" class="etabcontent">
      <div class="tooltitle">Amounts Due By Day</div>
      <div style="display:table; border:1px solid #bbb" id="edueby"></div>
      <div class="tooltitle">Goal Progress</div>
      <div id="eprogress"></div>
    </div>
    <div id="eroad" class="etabcontent" style="display:block;">
      <div class="tooltitle">Graph Matrix</div>
      <div id="editorroad"></div>
    </div>
  </div>
</div>

<div id="sandbox" class="tabcontent">
  <div id="ssummary" class="summary"></div>
  <div class="graphcontainer">
    <div id="roadsandbox">
    </div>
    <div class="graphtools">
      <button class="bmdrbtn" id="snextday" onclick="sandbox.nextDay();">Next Day</button>
    </div>
    <div class="graphtools">
      <button class="bmdrbtn" id="sundo" onclick="sandbox.undo();">Undo (0)</button>
      <button class="bmdrbtn" id="sredo" onclick="sandbox.redo();">Redo (0)</button>
      <button class="bmdrbtn" id="sreset" onclick="sandbox.undoAll();">Undo All</button>
    </div>
    <hr/>
    <div class="graphtools">
      <button class="bmdrbtn" id="zoomall" onclick="sandboxgr.zoomAll();">View All</button>
      <button class="bmdrbtn" id="zoomdflt" onclick="sandboxgr.zoomDefault();">Reset Zoom</button>
    </div>
  </div>
  
  <div class="vtabcontainer">
    <div class="vtabtitle">Sandbox Tools</div>
    <div class="vtab">
      <button class="bmdrbtn stablinks" onclick="openSandboxTab(event, 'sroad')">Red Line</button><button class="bmdrbtn stablinks" onclick="openSandboxTab(event, 'sstats')">Stats</button><button class="bmdrbtn stablinks" onclick="openSandboxTab(event, 'sdata')">Data</button><button class="bmdrbtn stablinks active" onclick="openSandboxTab(event, 'sedit')">Edit</button> <!-- Warning, these elements should be on the same line to prevent inline spacing -->
    </div>
    <div id="sedit" class="stabcontent" style="display:block;">
      <div class="tooltitle">Dial Graph</div>
      Goal rate:<br/>
      <input type = "number" id="sendslope" step="any" style="margin-bottom:10px;height:30px;width:10em;"><br/>
      <select id="sslopetype" selected="604800" onchange="updateCommitFields(true)">
        <option value="86400">per day</option>
        <option value="604800">per week</option>
        <option value="2629800">per month</option>
        <option value="31557600">per year</option>
      </select> 
      <button class="bmdrbtn" id="commit" onclick="commitTo(true)">UPDATE</button>
      <div class="tooltitle">Enter new data</div>
      Value:
      <input id="sdataval" type="number"  style="margin-bottom:10px;height:30px;width:5em;margin:4px;"></input>
      Comment:
      <input id="sdatacmt" type="text"  style="margin:4px;margin-bottom:10px;height:30px;"></input>
      <button class="bmdrbtn" onclick="sandbox.newData(sdataval.value, sdatacmt.value);" style="margin:4px;">Add</button>
    </div>
    <div id="sdata" class="stabcontent">
      <div class="tooltitle">View past data</div>
      <div id="sandboxdata">
      </div>
    </div>
    <div id="sstats" class="stabcontent">
      <div class="tooltitle">Amounts Due By Day</div>
      <div style="display:table; border:1px solid #bbb" id="sdueby"></div>
      <div class="tooltitle">Goal Progress</div>
      <div id="sprogress"></div>
    </div>
    <div id="sroad" class="stabcontent">
      <div class="tooltitle">Graph Matrix</div>
      <div id="sandboxroad"></div>
    </div>
  </div>
</div>

<script src = "../src/newdesign.js"></script>
<script>
  initialize()
</script>

</body>
</html>
