<!DOCTYPE html>
<html>
<head>
  <title>Beeminder Visual Graph Editor (Prototype)</title>
  <meta name="description" content="Beeminder Client-Side Graphs and Graph Editor">
  <link id="favicon" rel="icon" href="/lib/favicons/bee-with-big-brain.png" type="image/png">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/@primer/octicons@19.15.3/build/build.css">
  <link rel="stylesheet" href="/src/pikaday.css">
  <link rel="stylesheet" href="/src/jsbrain.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src = "/src/moment.js"></script>
  <script src = "/src/pikaday.js"></script>
  <script src = "/src/polyfit.js"></script>
  <script src = "/src/butil.js"></script>
  <script src = "/src/broad.js"></script>
  <script src = "/src/beebrain.js"></script>
  <script src = "/src/bgraph.js"></script>
  <script> const username = <%- (user != null)?"\""+user.username+"\"":"null" %></script>
</head>

<body>
<div class="container">
  
<h1>Beeminder Visual Graph Editor (Prototype)</h1>

<form name="graphType">
  <input type="radio" name="typeButton" value="graph" onclick="handleRadio(this)" checked>
  Graph &nbsp;&nbsp;
  <input type="radio" name="typeButton" value="editor" onclick="handleRadio(this)">
  Editor<br>
  <select id="roadselect" class="roadselect">
    <option value="">Select a goal to edit:</option>
</select> 
 
</form>

<div id="diveditor">
Drag the bright red line or double-click for new segments!

<table>
<tr>
<td valign="top"><div id="roadgraph" style="width:696px; height:453px"></div>

<input style="display:none;" id="showdata" type="checkbox" onclick="editor.showData(this.checked);" checked>
<!-- Show datapoints&nbsp; -->
<input style="display:none;" id="showalldata" type="checkbox" onclick="if (this.checked) editor.maxDataDays(-1); else editor.maxDataDays(100);" checked> 
<!-- Show All data&nbsp; -->
<input style="display:none;" id="showcontext" type="checkbox" onclick="editor.showContext(this.checked);" checked> 
<!-- Show context graph<br> -->

<p>
Red-line-dragging behavior: &nbsp; &nbsp;
<input id="keepslopes" type="checkbox" onclick="editor.keepSlopes(this.checked);" checked> Fixed slopes&nbsp;
<input id="keepintervals" onclick="editor.keepIntervals(this.checked);" type="checkbox"> Fixed intervals<br>
</p>

<button class="btn btn-secondary" id="resetzoom" onclick="editor.zoomDefault();">Reset Zoom</button>
<button class="btn btn-secondary" id="undo" onclick="editor.undo();" title="Ctrl-Z">Undo (0)</button>
<button class="btn btn-secondary" id="redo" onclick="editor.redo();" title="Ctrl-Y">Redo (0)</button>
<button class="btn btn-secondary" id="savesvg" onclick="editor.saveGraph(document.getElementById('download'));">Generate static image</button>
<a id="download" target="_blank">[Right-click for SVG]</a><br/><br/>
    
Visual versions of Ratcheting, Take-A-Break, and the Commitment Dial...<br/><br/>
<ul>
<li>Reduce safety buffer to: 
<input type="number" value="0" min="0" id="ratchetdays" style="width:4em"> days
&nbsp;
<button class="btn btn-secondary" id="retroratchet" onclick="var val = document.getElementById(&quot;ratchetdays&quot;).value; if (!isNaN(val)) editor.retroRatchet(Number(val));">Ratchet</button><br/><br/></li>

<li>Take a break starting
<input type = "text" id="breakstart" style="width:8em">
for
<input type = "number" value="1" min="1" id="breakdays" style="width:4em">
days
&nbsp;
<button class="btn btn-secondary" id="insertbreak" onclick="scheduleBreak(true);">Insert</button>
<button class="btn btn-secondary" id="overwritebreak" onclick="scheduleBreak(false);">Overwrite</button><br/><br/></li>

<li>Commmitment Dial:
<input type = "number" id="endslope" step="any" style="width:4em">
<select id="slopetype" selected="604800" onchange="updateCommitFields();">
  <option value="86400">per day</option>
  <option value="604800">per week</option>
  <option value="2629800">per month</option>
  <option value="31557600">per year</option>
</select> 
&nbsp;
<button class="btn btn-secondary" id="commit" onclick="commitTo();">Dial-it-in</button><br/><br/></li>
</ul>

<button class="btn btn-primary" id="roadsubmit" onclick="handleRoadSubmit();">Submit</button>&nbsp;<span id="submitmsg"></span><br/><br/>

</td>
<td valign="top">
<div id="roadtable"></div><br/>
</td>
</tr>
</table>  
</div>

<div id="divgraph">

<table>
<tr>
<td valign="top"><div id="roadgraph2" style="width:696px; height:453px"></div>
<input style="display:none;" id="showalldata2" type="checkbox" onclick="if (this.checked) graph.maxDataDays(-1); else graph.maxDataDays(100);"  checked> <!-- Show All data --><br/>
<button class="btn btn-secondary" id="resetzoom2" onclick="graph.zoomDefault();">Reset Zoom</button>
<button class="btn btn-secondary" id="savesvg2" onclick="graph.saveGraph(document.getElementById('download2'));">Generate static image</button> <a id="download2" target="_blank">[Right-click for SVG]</a><br/><br/>
</td>
<td valign="top"><div id="roadtable2"></div><br/></td>
</tr>
</table>
</div>
  
<script src="/src/client.js"></script>

</div>

</body>
</html>
