<!DOCTYPE html>
<html>
<head>
  <title>Beeminder Client-Side Graphs and Road Editor</title>
  <meta name="description" content="Beeminder Client-Side Graphs and Road Editor">
  <link id="favicon" rel="icon" href="https://beeminder.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
  <link rel="stylesheet" href="/src/pikaday.css">
  <link rel="stylesheet" href="/src/jsbrain.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src = "/src/moment.js"></script>
  <script src = "/src/pikaday.js"></script>
  <script src = "/src/polyfit.js"></script>
  <script src = "/src/butil.js"></script>
  <script src = "/src/broad.js"></script>
  <script src = "/src/beebrain.js"></script>
  <script src = "/src/bgraph.js"></script>
  <script> const username = <%- (user != null)?"\""+user.username+"\"":"null" %></script>
</head>

<body>
<div class="container">
  
<h1>Beeminder Client-Side Graphs and Road Editor</h1>

<form name="graphType">
  <input type="radio" name="typeButton" value="graph" onclick="handleRadio(this)" checked>
  Graph &nbsp;&nbsp;
  <input type="radio" name="typeButton" value="editor" onclick="handleRadio(this)">
  Editor<br>
  <select id="roadselect" class="roadselect">
    <option value="">Select a goal to edit:</option>
</select> 
 
</form>

<div id="diveditor">
  <ul>
    <li>Drag dots, vertical lines or roads to edit, double-click to
    add new node, Ctrl-Z to undo, Ctrl-y to redo</li>
  </ul>

<table>
  <tr>
    <td valign="top"><div id="roadgraph" style="width:696px; height:453px"></div>
      <input id="showdata" type="checkbox" onclick="editor.showData(this.checked);" checked>Show datapoints&nbsp;
      <input id="showalldata" type="checkbox" onclick="if (this.checked) editor.maxDataDays(-1); else editor.maxDataDays(100);" checked>Show All data&nbsp;
      <input id="showcontext" type="checkbox" onclick="editor.showContext(this.checked);" checked>Show context graph<br>
      <input id="keepslopes" type="checkbox" onclick="editor.keepSlopes(this.checked);" checked>Keep slopes fixed&nbsp;
      <input id="keepintervals" onclick="editor.keepIntervals(this.checked);" type="checkbox">Keep intervals fixed<br>
      <button class="btn btn-secondary" id="resetzoom" onclick="editor.zoomDefault();">Reset Zoom</button>
      <button class="btn btn-secondary" id="undo" onclick="editor.undo();">Undo (0)</button>
      <button class="btn btn-secondary" id="redo" onclick="editor.redo();">Redo (0)</button>
      <button class="btn btn-secondary" id="savesvg" onclick="editor.saveGraph(document.getElementById('download'));">Generate SVG</button><a id="download">Right click to download</a><br/><br/>

      Reduce safety buffer to: 
      <input type = "number" value="0" min="0" id="ratchetdays"> days
      <button class="btn btn-secondary" id="retroratchet" onclick="var val = document.getElementById(&quot;ratchetdays&quot;).value; if (!isNaN(val)) editor.retroRatchet(Number(val));">Ratchet</button><br/><br/>

      Take a break starting
      <input type = "text" id="breakstart" style="width:10em">
      for
      <input type = "number" value="1" min="1" id="breakdays" style="width:4em">
      days
      <button class="btn btn-secondary" id="insertbreak" onclick="scheduleBreak(true);">Insert</button>
      <button class="btn btn-secondary" id="overwritebreak" onclick="scheduleBreak(false);">Overwrite</button>
      <br/><br/>

      Commit to:
      <input type = "number" id="endslope" step="any" style="width:10em">
      <select id="slopetype" selected="604800" onchange="updateCommitFields();">
        <option value="86400">per day</option>
        <option value="604800">per week</option>
        <option value="2629800">per month</option>
        <option value="31557600">per year</option>
      </select> 
      <button class="btn btn-secondary" id="commit" onclick="commitTo();">UPDATE</button>
      <br/><br/>

      <button class="btn btn-primary" id="roadsubmit" onclick="handleRoadSubmit();">Submit</button>&nbsp;<span id="submitmsg"></span><br/><br/>

    </td>
    <td valign="top">
      <div id="roadtable"></div>
      <br/>

    </td>
  </tr>
</table>  
</div>

<div id="divgraph">

<table>
  <tr>
    <td valign="top"><div id="roadgraph2" style="width:696px; height:453px"></div>
      <input id="showalldata2" type="checkbox" onclick="if (this.checked) graph.maxDataDays(-1); else graph.maxDataDays(100);"  checked>Show All data<br/>
      <button class="btn btn-secondary" id="resetzoom2" onclick="graph.zoomDefault();">Reset Zoom</button>
      <button class="btn btn-secondary" id="savesvg2" onclick="graph.saveGraph(document.getElementById('download2'));">Generate SVG</button><a id="download2">Right click to download</a><br/><br/>
    </td>
    <td valign="top">
      <div id="roadtable2"></div>
      <br/>
    </td>
  </tr>
</table>
</div>
  
<script src="/src/client.js"></script>

<h3>Credits</h3>

<p>
<a href="http://www.ceng.metu.edu.tr/~saranli/">Uluc Saranli</a>
(known in Beeminderland for 
<a href="http://blog.beeminder.com/beedroid/">Beedroid</a>)
wrote this.  
<a href="https://glitch.com/#!/project/road">See the code</a>
on
<a href="https://glitch.com">Glitch</a>
or ask 
<a href="http://dreev.es">dreeves</a>
for a link to live-edit it with us.
</p>

    </div>

</body>
</html>

