<!DOCTYPE html>
<html>
<head>
  <title>Beeminder Road Editor</title>
  <meta name="description" content="Playing with Road Editor interfaces in Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="pikaday.css">
  <link rel="stylesheet" href="roadeditor.css">
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src = "moment.min.js"></script>
  <script src = "pikaday.js"></script>
  <script src = "polyfit.js"></script>
</head>

<body>

<h1>Beeminder Visual Road Editor</h1>

<div>
    
<h2>Instructions:</h2>
<ul>
<li>Shift-click or double-click on blank area: Add new node</li>
<li>Ctrl-click on dots / segments / vertical lines to edit end values / rates / end dates</li>
<li>Scroll wheel to zoom the x axis, use the context graph at the bottom to adjust zoom region</li>
<li>Ctrl-Z to undo, Ctrl-y to redo</li>
</ul>

<select id="roadselect">
  <option value="">Select a goal to edit:</option>
</select> 
  
<table>
  <tr>
    <td valign="top"><div id="roadgraph"></div>
      <input id="showdata" type="checkbox" onclick="editor.showData(this.checked);" checked>Show datapoints
      <input id="showalldata" type="checkbox" onclick="if (this.checked) editor.maxDataDays(-1); else editor.maxDataDays(100);" checked>Show All data
      <input id="showcontext" type="checkbox" onclick="editor.showContext(this.checked);" checked>Show context graph<br>
      <input id="keepslopes" type="checkbox" onclick="editor.keepSlopes(this.checked);" checked>Keep slopes fixed<br>
      <input id="keepintervals" onclick="editor.keepIntervals(this.checked);" type="checkbox">Keep intervals fixed<br>
      <button id="zoomdflt" onclick="editor.zoomDefault();">Reset Zoom</button>
      <button id="undo" onclick="editor.undo();">Undo (0)</button>
      <button id="redo" onclick="editor.redo();">Redo (0)</button><br/><br/>
      Safe days: <input type = "number" value="0" min="0" id="ratchetdays"><button id="retroratchet" onclick="var val = document.getElementById(&quot;ratchetdays&quot;).value; if (!isNaN(val)) editor.retroRatchet(Number(val));">Retroratchet</button><br/>
      <br/>
<button id="roadsubmit" onclick="window.alert('new road matrix:\n'+JSON.stringify(editor.getRoad(),null,2));">Submit (coming soon!)</button><br/><br/>
    </td>
    <td valign="top">
      <div id="roadtable"></div>
      <br/>

    </td>
  </tr>
</table>
  
</div>

<hr/>
<h2>Goal Graph</h2>
<table>
  <tr>
    <td valign="top"><div id="roadgraph2"></div>
      <input id="showalldata2" type="checkbox" onclick="if (this.checked) editor2.maxDataDays(-1); else editor2.maxDataDays(100);"  checked>Show All data<br/>
      <button id="zoomall2" onclick="editor2.zoomAll();">Zoom All</button>
      <button id="zoomdflt2" onclick="editor2.zoomDefault();">Default Zoom</button>
    </td>
    <td valign="top">
      <div id="roadtable2"></div>
      <br/>
    </td>
  </tr>
</table>


<script src="/roadeditor.js"></script>
<script src="/client.js"></script>

  
<h3>Credits</h3>

<p>
<a href="http://www.ceng.metu.edu.tr/~saranli/">Uluc Saranli</a>
(known in Beeminderland for 
<a href="http://blog.beeminder.com/beedroid/">Beedroid</a>)
wrote this.  
<a href="https://glitch.com/#!/project/road">See the code</a>
on
<a href="https://glitch.com">Glitch</a>
or ask 
<a href="http://dreev.es">dreeves</a>
for a link to live-edit it with us.
</p>

</body>
</html>

