.main text {
  font: 15px sans-serif;	
}

body,td,th {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12pt;
}

textarea { 
  font-family: Consolas, Lucida Console, monospace;
  font-size: 15pt;
}
