.chart, .bmndrsvg { 
  border: 1px solid #cccccc
}
svg text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
svg text::selection {
  background: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
  pointer-events: none;
}
.axis .minor line {
  stroke: #777;
  stroke-dasharray:5,4;
}
.grid line {
  fill: none;
  stroke: #dddddd;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  pointer-events: none;
}
.grid .minor line {
  stroke: none;
}

.axis text {
  pointer-events: none;
  font-family: sans-serif;
  font-size: 11px;
}

.axislabel {
  font-family: sans-serif;
  font-size: 11px;
  text-anchor: middle;
}

.zoomarea {
  cursor: move;
  fill: none;
  pointer-events: all;
}

circle.dots {
    stroke: black;
}
line.roads {
    stroke: black;
}
.pasttext, .ctxtodaytext, .ctxhortext, .horizontext, .waterbuf, .waterbux {
  pointer-events: none;
  text-anchor: middle;
  font-family: sans-serif;
}
.loading {
  pointer-events: none;
  text-anchor: middle;
  font-weight: bold;
  font-family: sans-serif;
}

.past, .pastline, .halfplane, .pinkregion, .horizon,
.ctxroads, .ctxdots, .ctxoldroads, .oldroads, 
.bullseye, .oldbullseye, .ctxbullseye, .ctxoldbullseye, 
.ctxtoday, .ctxtodaytext, .dpts, .allpts, .steppy, .steppyd, 
.aura, .aurapast  {
  pointer-events: none;
}

.brush rect.selection {
  fill: #9090ff;
  fill-opacity: .125;
}
.brush rect.focusrect {
  stroke: #7070ff;
  pointer-events: none;
}

/*.rtable, .rtablestart, .rtablegoal {
  display: table;
} */
.roadhdr {
  display: table-header-group;
}
.roadbody {
  display: table-row-group;
}
.roadrow {
  display: table-row;
  white-space: nowrap;
}
.roadhdrrow {
  display: table-row;
  white-space: nowrap;
}

.rowid {
  display: table-cell;
  border: 0px;
  padding: 2px;
  text-align: right;
  white-space: nowrap;
}
.roadhdrcell {
  display: table-cell;
  border: 0px;
  padding: 5px 2px 2px 2px;
  text-align: center;
  white-space: nowrap;
}
.roadcell {
  display: table-cell;
  border: 1px solid black;
  padding: 2px 5px 2px 5px;
  text-align: center;
  white-space: nowrap;
  background-color: white;
}
.rtablebody, .rtablestart {
  padding: 1px 0px 4px 0px;
  border: 1px solid transparent;
}
.rtablegoal {
  background-color: #eeffee;
  padding: 0px 0px 5px 0px;
  margin: 8px 0px 4px 0px;
  border: 1px solid black;
}
.rtablegoal .rowid {
  visibility: hidden;
}
div.roadcell {
  min-width:95px;
}
div.rowid {
  min-width:35px;
}
.floating {
  float: left;
  position: absolute;
}

.ratchet, .break {
  background-color: #f1f1f1;
  border: 1px solid #d0d0d0;
  margin: 10px 0px 10px 0px;
  padding: 5px 15px 5px 15px;
}
.gopts, .commit {
  margin: 0px 0px 10px 0px;
  padding: 5px 15px 5px 15px;
}

