#header {
    background-color: #FFCB06;
    padding: 8px 2%;
    margin-bottom:10px;
}

.logo {
    height: 59px;
    width: 260px;
    background: url(http://www.beeminder.com/assets/website_logo_mid_type-5c8c74372ac413631e10ab410409a5fc9224027a9f88a31bd54788c2c663aadf.png) no-repeat;
    background-size: 205px;
}

/* Style the tab */
.tab {
    margin-top:10px;
    overflow: hidden;
    border: none;
}

.vtab {
    transform:translate(-9);
    overflow: hidden;
    border: none;
}

.vtabtitle {
    padding: 2px;
    font-size:120%;
    font-weight:bold;
}

.tooltitle {
    border-bottom:2px solid #bbb;
    margin: 10px 0px 10px 0px;
    font-weight:bold;
}

#graph .vtab {
    transform-origin:0 0;
    transform:rotate(-90deg) translate(-270px, 0px);
}
#editor .vtab {
    transform-origin:0 0;
    transform:rotate(-90deg) translate(-360px, 0px);
}
#sandbox .vtab {
    transform-origin:0 0;
    transform:rotate(-90deg) translate(-360px, 0px);
}

button, select {
    color:black;
    background-color: #ddd;
    padding: 10px 16px;
    transition: 0.2s;
    cursor: pointer;
    outline: none;
    border: 1px solid #ccc;
    font-size:90%;
}

input[type=checkbox] {
    width:20px;
    height:20px;
    vertical-align:middle;    
}
label {
    vertical-align:middle;    
    font-size:110%;
}

button:hover {
    background-color: #FFD949;
}

button.active {
    background-color: #FFD949;
}
button:disabled {
    color: #999;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    float: left;
    border-bottom: none;
}
.vtab button {
    float: left;
    width:90px;
    height:45px;
    border-bottom: none;
}

/* Style the tab content */
.tabcontent {
    white-space:nowrap;
    box-shadow: 0 0 6px #ccc;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
} 

.etabcontent, .gtabcontent, .stabcontent {
    box-shadow: 0 0 6px #ccc;
    display: none;
    margin-left:45px;
    position:relative;
    top:-45px;
    max-width:600px;
    min-height:450px;
    height:90%;
    padding: 6px 12px;
    border: 1px solid #ccc;
} 
.vtabcontainer {
    height:453px;
    display:inline-block;
    vertical-align:top;
}
.dbhdrcell { border-bottom:1px solid black; }

.progrow { display: table-row; }
.proghdr { display: table-cell; font-size: 80%; padding:4px;padding-right:15px; }
.progcell { display: table-cell; }
.progcont { width:100%; height:20px; border: 1px solid black; margin:5px;}
.progbar { height:100%; background-color:yellow;}

.summary {
    margin:10px 0 5px 50px;
}
.yoog,.baremin,.doom-modifier,.doom,.pledgepre,.pledge {
    display:inline-block;
    font-size:24px;
    margin:0 5px 0 5px;
}
.baremin,.doom, .pledge {
    padding:5px 10px;
    background-color: #3b3b3b;
    color:#ffcb06;
}
.doom {
    color:white;
}

#submitmsg {
    font-size:120%
}
